<div class="container">
  <div class="row">
     <p class="entrada">
      Hola {{usuario}}
     </p>
      <p class="text-end">
      <a class="btn btn-danger" href="/admin/login/logout"><i
          class="bi bi-box-arrow-in-right"
        > </i>Log out</a>
      </p>
    

  </div>

  <div>
    <h3>Tabla de novedades</h3>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Actividad</th>
           <th scope="col">Subtitulo</th>
           <th scope="col">Texto</th>
           <th scope="col">Imagen</th>
          <th class="text-end">
            <a class="btn btn-primary" href="/admin/novedades/agregar"><i class="bi bi-file-earmark-plus"></i>Agregar</a></th>
        </tr>
      </thead>
      <tbody>
          {{#each novedades}}

        <tr>
          <th scope="row">{{id}}</th>
          <td> {{titulo}}</td>
           <td> {{subtitulo}}</td>
           <td>{{cuerpo}}</td>
          <td>{{{imagen}}}</td>
          <td class="text-end">
            <a class="btn btn-secondary btn-sm " href="/admin/novedades/editar/{{id}}"><i class="bi bi-pencil-fill">editar</i></a>
            <a class="btn btn-warning btn-sm " href="/admin/novedades/eliminar/{{id}}" onclick="return confirm('Estas seguro de eliminar ?')" ><i class="bi bi-trash">Borrar</i></a>
          </td> 
        </tr>
    
    {{/each}}
      </tbody>
    </table>

  </div>
</div>



